input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 8px 14px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }  