@import "css/colors";

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 8px 14px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1rem;
    display: inline-block;
    border: 1px solid $gray200;
    border-radius: 4px;
    transition: all 100ms ease-in-out;
    color: $gray900;

    color: $gray900;

    &:focus, &:active {
        outline: none;
        border-color: $blue200;
    }
}

/*
 * Form group
 */
.form-group {
    &:not(:first-child) {
        margin-top: .6rem;
    }

    label {
        font-size: .9rem;
    }
}

/*
 * Input group
 */
.input-group {
    display: flex;
    align-items: center;
    position: relative;

    .input-prefix {
        position: absolute;
        padding: 0 1rem;
        color: $gray900;
    }

    input[type=text], input[type=password], input[type=email] {
        padding-left: 3rem;
    }
}

/*
 * Checkbox
 */
 .checkbox input {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
    }

    // Box.
    & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 18px;
        height: 18px;
        background: transparent;
        border: 1px solid $gray200;
        border-radius: .25rem;
        transition: background 200ms, border-color 200ms;
    }

    // Box checked
    &:checked + label:before {
      background: $blue600;
      border-color: $blue600;
    }

    // Disabled state label.
    &:disabled + label {
      color: $gray400;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: $gray200;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
        content: '\f00c';
        color: white;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: .8em;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        left: 4px;
        top: 4px;
    }
  }
