@import "css/colors";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

:root{
    --blue500: #2196F3;
    --green500: #4CAF50;
    --amber500: #FF9800;
    --red700: #D32F2F;
    --gray50: #FAFAFA;
}

hr {
    border-style: solid;
    border-color: $gray100;
}

.link {
    color: $blue700;
    cursor: pointer;

    &:hover, &:focus {
        color: $blue900;
    }
}
