@import "src/css/colors";

$login-panel-border-radius: 5px;

.register-view {

    .register-container {
        width: 500px;

        .terms {
            label {
                font-weight: normal;
            }
        }
    }
}


