<div class="register-container">

    <div class="alert alert-hidden">
        <div class="alert-title">
            <i class="fa fa-exclamation-circle fa-lg"></i>
        </div>
        <div class="alert-body"></div>
    </div>

    <div class="panel animated fadeInDown">
        <div class="panel-header">Create a GeoBoard account</div>

        <form id="registerForm">
            <div class="panel-body">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Choose a unique username">
                    <div class="validation-error" data-field="username"></div>
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="name@domain.com">
                    <div class="validation-error" data-field="email"></div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Choose a strong password">
                    <div class="validation-error" data-field="password"></div>
                </div>

                <div class="form-group">
                    <label for="password-confirm">Confirm password</label>
                    <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirm your passsword">
                    <div class="validation-error" data-field="password-confirm"></div>
                </div>

            </div>

            <div class="panel-body">
                <div class="terms checkbox">
                    <input id="terms" name="terms" type="checkbox">
                    <label for="terms">I agree to the <span class="link ml-1" data-target="terms">terms of service</span>.</label>
                </div>
                <div class="validation-error" data-field="terms"></div>
            </div>

            <div class="panel-footer">
                <div class="button-group">
                    <button class="button button-green button-pd-2" data-target="register">Create account</button>
                    <button class="button button-link button-pd-2" data-target="login">I have an account</button>
                </div>
            </div>
        </form>
    </div>

</div>
