@import "src/css/colors";

.register-view {

    .register-container {
        width: 500px;
        margin-top: 80px;

        .panel-body label {
            font-weight: 600;
        }

        .terms {
            label {
                font-weight: normal;
            }
        }
    }
}


