<div class="login-container animated fadeInDown">
    <div class="panel-header">Login to GeoBoard</div>

    <div class="panel-body">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username"><br>
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password">
        </div>

        <p class="login-status" style="margin: 0;"></p>
    </div>

    <div class="panel-footer">
        <div class="button-group">
            <button class="button button-green button-pd-2 login-button">Login</button>
            <button class="button button-link button-pd-2" data-target="recover-password">Reset password</button>
        </div>
        
        <p class="register-information">No account yet? <span data-target="register">Create one here</span></p>
    </div>

</div>