<div class="container">
    <h1>login!</h1>

    <label for="username">Username or email:</label>
    <input type="text" id="username"><br>
    <label for="password">Password:</label>
    <input type="password" id="password">

    <p class="login-forgot-password">Forgot password?</p>

    <p class="login-status"></p>

    <button class="button button-blue button-pd-2 login-button">Login</button>
    <button class="button button-green-border button-pd-2" data-target="register">Register</button>

</div>