<div class="register-container animated fadeInDown">
    <div class="panel-header">Register</div>

    <div class="panel-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus repudiandae voluptatum iusto labore inventore repellat laborum? Impedit, doloribus. Blanditiis officiis nemo molestiae aut ut beatae nulla dolore sint labore?
    </div>

    <div class="panel-footer">
        <div class="button-group">
            <button class="button button-green button-pd-2 login-button">Create account</button>
            <button class="button button-link button-pd-2" data-target="login">I have an account already</button>
        </div>
    </div>

</div>