<div class="register-container animated fadeInDown">
    <div class="panel-header">Register</div>

    <div class="panel-body">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Choose a unique username">
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" placeholder="name@domain.com">
        </div>

        <hr>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Choose a strong password">
        </div>

        <div class="form-group">
            <label for="password">Confirm password</label>
            <input type="password" id="password" placeholder="Confirm your passsword">
        </div>
    </div>

    <div class="panel-footer">
        <div class="button-group">
            <button class="button button-green button-pd-2 login-button">Create account</button>
            <button class="button button-link button-pd-2" data-target="login">I have an account already</button>
        </div>
    </div>

</div>
