@import "src/css/colors";
@import "src/css/variables";
@import "src/css/icons";

.board-element {
    width: 24rem;
    flex-direction: column;
    margin: .5rem;
    //overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px -8px $gray900;

    .board-element-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding: .5rem 1rem;
        transition: background 250ms;

        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        .board-element-number {
            display: block;
            background-color: $blue500;
            color: white;
            border-radius: $border-radius;
            width: 1rem;
            height: 1rem;
            padding: .25rem;
            margin-right: .5rem;
            text-align: center;
            line-height: 1;
            font-weight: 600;

            &.new {
                background-color: $teal500;
            }
        }

        .menu-overlay{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
        }

        .board-element-creator {
            font-weight: 600;
        }

        .submit-icon {
            color: $green400;

            &:hover {
                cursor: pointer;
            }
        }

        .menu-icon {
            color: $blue500;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin-right: -0.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .board-element-body {
        background: white;
        transition: background 250ms;

        .board-element-message {
            margin: 0;
            padding: 1rem;
            border-top: 1px solid $gray100;
            border-bottom: 1px solid $gray100;
            transition: border-color 250ms;
        }

        .board-element-image {
            display: block;
            width: 24rem;
            object-fit: cover;
            background-repeat: no-repeat;
            max-height: 25rem;
            margin: 0;
        }

        .board-element-image-error {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem 0;
            margin: 0;
            color: $gray400;
            font-weight: 600;
            background: $gray200;
            user-select: none;
        }
    }

    .board-element-footer {
        display: flex;
        align-items: center;
        background: white;
        padding: .5rem 1rem;

        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        transition: background 250ms;

        .board-element-direction {
            display: flex;
            align-items: center;
            margin: .25rem 0;

            .direction {
                color: $red700;
                font-size: 1.2rem;
                transform: rotate(-45deg); // Reset to north
            }
        }

        .board-element-timestamp {
            font-size: .8rem;
            margin-left: auto;
            background: $gray100;
            padding: .25rem .5rem;
            border-radius: $border-radius;
            transition: background 250ms;
        }
    }
}


.create-board-element {
    border: 2px solid $red300;
    border-radius: $border-radius;

    .board-element-header {
        border-radius: 0;

    }

    .board-element-body {
        textarea {
            outline: none;
            resize: none;
            padding: 1rem;
            width: 100%;
            border: 0;
            box-sizing: border-box;
            border-top: 1px solid $gray100;
            font: inherit;

            transition: background 250ms, border-color 250ms;
        }
    }

    .board-element-footer {
        align-items: center;
        border-top: 1px solid $gray100;
        border-radius: 0;
        transition: border-color 250ms;

        label {
            font-weight: 600;
            margin-right: 1rem;
        }

        select {
            width: 100%;
            padding: .25rem;
            font-size: inherit;
            border-color: $gray100;
            border-radius: $border-radius;
        }
    }
}
/**
 * Dark theme
 */
.home-container.dark-theme {

    .board-element-header,
    .board-element-body,
    .board-element-footer {
        background: $geoboard-dark;
        color: white;
    }

    .board-element-body {
        .board-element-message {
            border-color: darken($geoboard-dark, 5%);
        }

        textarea {
            background: $geoboard-dark;
            color: white;
            border-color: darken($geoboard-dark, 5%);
        }
    }

    .board-element-footer {
        border-color: darken($geoboard-dark, 5%);

        .board-element-timestamp {
            background-color: darken($geoboard-dark, 5%);
        }
    }
}
