@import "colors";

.auth-layout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url('https://geoboard.luukwuijster.dev/images/bi10.jpg');
    background-size: cover;
    height: 100%;

    .input-prefix {
        color: $blue600;
    }

    input[type=text], input[type=password], input[type=email] {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}
