<nav class="navbar">
    <div class="branding">
        <img src="/dist/assets/media/logo/GeoBoard_Dark.png" alt="GeoBoard">
    </div>

    <ul class="nav-links">
        <li class="nav-link active">Home</li>
        <li class="nav-link">Page</li>
    </ul>

    <ul class="nav-links" style="margin-left: auto;">
        <div class="nav-link">Menu</div>
    </ul>
</nav>

{{> body}}
