@import "src/css/colors";

.base-layout{
    height: 100%;

    background: url('https://geoboard.luukwuijster.dev/images/bi2.jpg');
    background-size: cover;
}

.navbar {
    background: white;
    display: flex;
    flex-direction: row;
    padding: 0 4rem;
    align-items: center;
    height: 4.5rem;
    box-shadow: 0px 0px 12px -8px $gray900;

    .branding {
        img {
            max-height: 2.5rem;
        }

        margin-right: 2rem;
    }

    .nav-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .nav-link {
            padding: 1.5rem 1rem;

            &.active {
                font-weight: 600;
                border-bottom: 3px solid $blue400;
            }

            &:not(:last-child) {
                margin-right: .5rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

}

.footer {
    padding: 1.5rem;
    color: white;
}
