<div class="container">

    <div class="alert alert-error">
        <div class="alert-title">
            <i class="fa fa-exclamation-circle fa-lg"></i>
        </div>
        <div class="alert-body">Something went wrong while activating your account. Please contact support.</div>
    </div>

</div>
