@import "../variables";
@import "../colors";

.button {
    border: none;
    color: white;
    padding: 0.9rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: $border-radius;
    outline: none;
    transition: background-color 150ms;
}

a.button {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 0.9rem 0;
}

/*
* Blue button
*/

.button-blue {
    background-color: $blue500;
}

.button-blue:hover {
    background-color: $blue700;
}

.button-blue-border {
    border: $blue500 solid 1px;
    background-color: transparent;
    color: $blue500;
}

.button-blue-border:hover {
    background-color: $blue500;
    color: white;
}

.button[disabled] {
    background-color: $gray400;
}

.button[disabled]:hover {
    background-color: $gray400 !important;
    cursor: default;
}

/*
* Green button
*/

.button-green {
    background-color: $green500;
}

.button-green:hover {
    background-color: $green700;
}

.button-green-border {
    border: $green500 solid 1px;
    background-color: transparent;
    color: $green500;
}

.button-green-border:hover {
    background-color: $green500;
    color: white;
}

/*
* Red button
*/

.button-red {
    background-color: $red500;
}

.button-red:hover {
    background-color: $red700;
}

.button-red-border {
    border: $red600 solid 1px;
    background-color: transparent;
    color: $red600;
}

.button-red-border:hover {
    background-color: $red700;
    color: white;
}



.button-transparent {
    background-color: transparent;
}

.button-pd-0 {
    padding: 0px;
}

.button-pd-1 {
    padding: 0.225rem 0.25rem;
}

.button-pd-2 {
    padding: 0.45rem 0.5rem;
}

.button-pd-3 {
    padding: 0.9rem 1rem;
}

.button-text-black {
    color: $gray900;
}

/**
 * Link button
 */
.button-link {
    background-color: transparent;
    color: $blue700;

    &:hover, &:focus {
        color: $blue900;
    }
}

/**
 * Grouped buttons
 */
.button-group {
    display: flex;

    .button {
        flex: 1;

        &:not(.btn-link) &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(.btn-link) :not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
