@import "../variables";
@import "../colors";

.button {
    border: none;
    color: white;
    padding: 0.9rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: $border-radius;
    outline: none;
}

a.button {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 0.9rem 0;
}

/*
* Blue button
*/

.button-blue {
    background-color: #2196F3;
}

.button-blue:hover {
    background-color: #1976D2;
}

.button-blue-border {
    border: #2196F3 solid 1px;
    background-color: transparent;
    color: #2196F3;
}

.button-blue-border:hover {
    background-color: #2196F3;
    color: white;
}

.button[disabled] {
    background-color: #BDBDBD;
}

.button[disabled]:hover {
    background-color: #BDBDBD !important;
}

/*
* Green button
*/

.button-green {
    background-color: #4CAF50;
}

.button-green:hover {
    background-color: #388E3C;
}

.button-green-border {
    border: #4CAF50 solid 1px;
    background-color: transparent;
    color: #4CAF50;
}

.button-green-border:hover {
    background-color: #4CAF50;
    color: white;
}

/*
* Red button
*/

.button-red {
    background-color: #E53935;
}

.button-red:hover {
    background-color: #C62828;
}

.button-red-border {
    border: #E53935 solid 1px;
    background-color: transparent;
    color: #E53935;
}

.button-red-border:hover {
    background-color: #D32F2F;
    color: white;
}



.button-transparent {
    background-color: transparent;
}

.button-pd-0 {
    padding: 0px;
}

.button-pd-1 {
    padding: 0.225rem 0.25rem;
}

.button-pd-2 {
    padding: 0.45rem 0.5rem;
}

.button-pd-3 {
    padding: 0.9rem 1rem;
}

.button-text-black {
    color: #212121;
}

/**
 * Link button
 */
.button-link {
    background-color: transparent;
    color: $blue700;

    &:hover, &:focus {
        color: $blue900;
    }
}

/**
 * Grouped buttons
 */
.button-group {
    display: flex;

    .button {
        flex: 1;

        &:not(.btn-link) &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(.btn-link) :not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
