@import "src/css/colors";

.forgot-password-container {
    width: 33rem; // 500px / 15px (base font size) = 33,333333333333333333333333333333‬
    margin-top: 5rem;
}

.auth-container.password-reset {

    .submit-button {
        background-color: $blue500;

        &:hover {
            background-color: $blue600;
        }
    }
}
