{{!--
    <h1>home!</h1>
    <button class="button button-red" data-target="logout">Logout</button>
    <button class="button button-blue" data-target="comehere" style="margin-left:auto;">Come here</button>
</div> --}}

<nav class="navbar">
    <div class="branding">
        <img class="logo-dark" src="/dist/assets/media/logo/GeoBoard_Dark.png" alt="GeoBoard">
        <img class="logo-light" src="/dist/assets/media/logo/GeoBoard_Light.png" alt="GeoBoard" style="display: none;">
    </div>

    <ul class="nav-links">
        <li class="nav-link active">Home</li>
        <li class="nav-link">Page</li>
    </ul>

    <ul class="nav-links" style="margin-left: auto;">
        <li class="nav-link" data-target="theme">

        </li>
        <li class="nav-link sidebar-link" data-target="sidebar">
            <i class="fas fa-bars fa-lg fa-fw"></i>
        </li>
        <li class="nav-link" data-target="logout">
            <i class="fas fa-sign-out-alt fa-fw mr-1"></i>Log out
        </li>
    </ul>
</nav>

<div class="side-nav animated">
    <div class="side-nav-header">
        <h4 class="m-0">Menu</h4>
        <span class="close-sidebar" data-target="closeSidebar" title="Close sidebar">
            <i class="fas fa-times fa-lg"></i>
        </span>
    </div>

    <div class="side-nav-body">

        <div class="side-nav-section">
            <div class="section-header">
                <h3 class="side-nav-section-title">My boards</h3>
                <button class="button button-small button-green" data-target="createBoard">Create board</button>
            </div>
        </div>
    </div>
</div>

<div class="home-container dark-theme">

    <div class="board-elements">

        <div class="board-element create-board-element">
            <div class="board-element-header">
                <span class="board-element-number new">#</span>
                <span class="board-element-creator">Matthijs</span>
                <i class="fas fa-check ml-auto submit-icon"></i>
                <i class="fas fa-trash ml-3 delete-icon"></i>
            </div>
            <div class="board-element-body">
                <textarea name="message" placeholder="Type your text here..."></textarea>
            </div>
            <div class="board-element-footer">
                <label for="direction">Kijkrichting</label>
                <select name="direction" id="direction">
                    <option>&ndash;</option>
                    <option value="N">Noorden</option>
                    <option value="NO">Noordoosten</option>
                    <option value="O">Oosten</option>
                    <option value="ZO">Zuidoosten</option>
                    <option value="Z">Zuiden</option>
                    <option value="ZW">Zuidwesten</option>
                    <option value="W">Westen</option>
                    <option value="NW">Noordwesten</option>
                </select>
            </div>
        </div>

        {{!-- <!-- Element 5 -->
        <div class="board-element">
            <div class="board-element-header">
                <span class="board-element-number">5</span>
                <span class="board-element-creator">Matthijs</span>
                <i class="fas fa-trash ml-auto delete-icon"></i>
            </div>
            <div class="board-element-body">
                <img class="board-element-image" src="https://geoboard.luukwuijster.dev/images/userImages/25-04-2020T21.49.58.975.jpg">
            </div>
            <div class="board-element-footer">
                <div class="board-element-direction">
                    <i class="fas fa-location-arrow direction mr-2"></i>Noorden
                </div>
                <time class="board-element-timestamp" datetime="25-04-2020 21:49:58">25-04-2020 21:49:58</time>
            </div>
        </div> --}}

        {{!-- <!-- Element 4 -->
        <div class="board-element">
            <div class="board-element-header">
                <span class="board-element-number">4</span>
                <span class="board-element-creator">Luuk</span>
                <i class="fas fa-trash ml-auto delete-icon"></i>
            </div>
            <div class="board-element-body">
                <img class="board-element-image" src="https://geoboard.luukwuijster.dev/images/userImages/25-04-2020T22.03.37.797.jpg">
            </div>
            <div class="board-element-footer">
                <time class="board-element-timestamp" datetime="03-05-2020 16:09:00">03-05-2020 16:09:00</time>
            </div>
        </div> --}}

        {{!-- <!-- Element 3 -->
        <div class="board-element">
            <div class="board-element-header">
                <span class="board-element-number">3</span>
                <span class="board-element-creator">Matthijs</span>
                <i class="fas fa-trash ml-auto delete-icon"></i>
            </div>
            <div class="board-element-body">
                <p class="board-element-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, velit debitis. Rerum quae quo aperiam, numquam hic, id cum veritatis libero veniam cupiditate nobis magni molestias! Eligendi distinctio hic esse?</p>
            </div>
            <div class="board-element-footer">
                <time class="board-element-timestamp" datetime="03-05-2020 16:09:00">03-05-2020 16:09:00</time>
            </div>
        </div> --}}

        {{!-- <!-- Element 2 -->
        <div class="board-element">
            <div class="board-element-header">
                <span class="board-element-number">2</span>
                <span class="board-element-creator">Luuk</span>
                <i class="fas fa-trash ml-auto delete-icon"></i>
            </div>
            <div class="board-element-body">
                <p class="board-element-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, velit debitis. Rerum quae quo aperiam, numquam hic, id cum veritatis libero veniam cupiditate nobis magni molestias! Eligendi distinctio hic esse?</p>
            </div>
            <div class="board-element-footer">
                <time class="board-element-timestamp" datetime="03-05-2020 16:09:00">03-05-2020 16:09:00</time>
            </div>
        </div> --}}

        {{!-- <!-- Element 1 -->
        <div class="board-element">
            <div class="board-element-header">
                <span class="board-element-number">1</span>
                <span class="board-element-creator">Luuk</span>
                <i class="fas fa-trash ml-auto delete-icon"></i>
            </div>
            <div class="board-element-body">
                <img class="board-element-image" src="https://geoboard.luukwuijster.dev/images/userImages/25-04-2020T21.42.24.002.jpg">
            </div>
            <div class="board-element-footer">
                <div class="board-element-direction">
                    <i class="fas fa-location-arrow direction mr-2"></i>Zuidoost
                </div>
                <time class="board-element-timestamp" datetime="25-04-2020 21:49:58">25-04-2020 21:49:58</time>
            </div>
        </div> --}}
    </div>

</div>
