{{!--
    <h1>home!</h1>
    <button class="button button-red" data-target="logout">Logout</button>
    <button class="button button-blue" data-target="comehere" style="margin-left:auto;">Come here</button>
</div>

<div class="side-nav animated">
    <button class="button button-blue" style="float: right;" data-target="goaway">Go away</button>
</div> --}}

<div class="home-container">

</div>
