<nav class="navbar">
    <div class="branding">
        <img class="logo-dark" src="/dist/assets/media/logo/GeoBoard_Dark.png" alt="GeoBoard">
        <img class="logo-light" src="/dist/assets/media/logo/GeoBoard_Light.png" alt="GeoBoard" style="display: none;">
    </div>

    {{!-- <ul class="nav-links mr-auto">
        <li class="nav-link active">Home</li>
        <li class="nav-link">Page</li>
    </ul> --}}

    <div class="board-info">
        <span class="board-info-prefix">Current board</span>
        <span class="board-info-name">{{currentBoard}}</span>
    </div>

    <ul class="active-board-users">
        {{!-- <div class="board-active-users-label">Currently viewing:</div> --}}

        {{!-- <li class="avatar" title="matthijs" data-user="1234">
            <img src="https://i.imgur.com/7RcAN5C.jpg" width="400" alt="..." class="avatar-img">
        </li> --}}
        {{!-- <li class="avatar" title="luuk" data-user="5678">
            <span class="avatar-title">L</span>
        </li> --}}
    </ul>

    <ul class="nav-links ml-auto">
        <li class="nav-link" data-target="theme"></li>
        <li class="nav-link" data-target="logout">
            <i class="fas fa-sign-out-alt fa-fw mr-1"></i>Log out
        </li>
        <li class="nav-link sidebar-link" data-target="sidebar">
            <i class="fas fa-bars fa-lg fa-fw"></i>
        </li>
    </ul>
</nav>
<div class="notification"></div>

<aside id="sidebar"></aside>

<div class="home-container dark-theme">
    <section id="board-container"></section>
</div>
