.auth-layout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url('https://geoboard.luukwuijster.dev/images/bi10.jpg');
    background-size: cover;
    height: 100%;
}
