@import "src/css/colors";
@import "src/css/variables";


.board-list-item {
    position: relative;
    padding: .5rem 1.5rem;
    background: $gray100;
    transition: background 250ms, border-color 250ms;
    cursor: pointer;

    &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $gray300;
    }

    &[data-target]:hover:not(.active),
    &[data-target]:focus:not(.active) {
        cursor: pointer;
        background: $gray300;
    }

    .board-list-item-description {
        font-size: .85em;
        color: $gray500;
    }

    &.active {
        color: white;
        font-weight: 600;
        background-color: $blue600;
        border-color: $blue700;

        .board-list-item-description {
            color: $gray300;
            font-weight: normal;
        }
    }

    .is-owner {
        // display: flex;
        // align-items: center;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // right: 1.5rem;
        color: $amber800;
    }

    .remove-board {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1.5rem;
        color: $gray400;
    }
}

.remove-board-prompt{
    position: absolute;
    right: 0.825rem;
    top: 4rem;
    z-index: 1;
    box-shadow: 4px 2px 6px 1px $gray400;
    border-radius: 0.5rem;

    .body{
        width: 15rem;
        background-color: white;
        border-radius: 0.5rem;
        color: black;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        cursor: auto;

        :after {
            content: " ";
            position: absolute;
            bottom: 100%;  /* At the top of the tooltip */
            right: 0.5rem;
            margin-left: -1rem;
            border-width: 1rem;
            border-style: solid;
            border-color: transparent transparent white transparent;
        }

        .header {
            display: flex;
            flex-direction: row;
        }

        .title{
            font-weight: 600;
        }

        .subtitle{
            font-weight: 100;
            font-size: 0.7rem;
        }

        .cancel{
            cursor: pointer;
            font-size: 1.25rem;
        }
    }
}

/**
 * Dark theme
 */
 .home-container.dark-theme {
    .board-list-item:not(.active) {
        background: darken($geoboard-dark, 5%);
        color: white;
        border-color: darken($geoboard-dark, 10%);

        &[data-target]:hover {
            background: darken($geoboard-dark, 10%);
        }
    }
 }
