@import "src/css/colors";

.register-container {
    width: 33rem; // 500px / 15px (base font size) = 33,333333333333333333333333333333‬
    margin-top: 5rem;

    .panel-body label {
        font-weight: 600;
    }

    .terms {
        label {
            font-weight: normal;
        }
    }
}
