@import "src/css/colors";

.login-container {
    width: 33rem; // 500px / 15px (base font size) = 33,333333333333333333333333333333‬
    margin-top: 5rem;
}

.remember {
    margin: 1.25rem 0;

    label {
        font-weight: normal;
    }
}

.register-information {
    font-size: 0.8rem;
    color: $gray500 !important;
    text-align: center;
    margin-bottom: 0;

    a {
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }
}
