<div class="board-elements">

    {{!-- <div class="board-element create-board-element">
        <div class="board-element-header">
            <span class="board-element-number new">#</span>
            <span class="board-element-creator">Matthijs</span>
            <i class="fas fa-check ml-auto submit-icon"></i>
            <i class="fas fa-trash ml-3 delete-icon"></i>
        </div>
        <div class="board-element-body">
            <textarea name="message" placeholder="Type your text here..."></textarea>
        </div>
        <div class="board-element-footer">
            <label for="direction">Kijkrichting</label>
            <select name="direction" id="direction">
                <option>&ndash;</option>
                <option value="N">Noorden</option>
                <option value="NO">Noordoosten</option>
                <option value="O">Oosten</option>
                <option value="ZO">Zuidoosten</option>
                <option value="Z">Zuiden</option>
                <option value="ZW">Zuidwesten</option>
                <option value="W">Westen</option>
                <option value="NW">Noordwesten</option>
            </select>
        </div>
    </div> --}}
</div>
