@import "src/css/colors";
@import "src/css/variables";

.large-image-container-closed{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    pointer-events: none;
}

.large-image-container-open{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    .large-image{
        margin-top: -9rem;
        max-width: 70%;
        max-height: 70%;
        border-radius: $border-radius;
        box-shadow: 1px 1px 7px 1px black;
        background-color: white;
        cursor: default;
    }
}

.large-image-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
}
