.emailConfirmation-container {
    width: 22rem;
    margin-top: 6rem;
}

.panel-body {
    display: flex;
    justify-content: space-around;

    img {
        width: 18rem;
    }
}

.panel-footer{
    background-color: white !important;

    button {
        width: 100%;
    }
}
