.board-element-header {
    .menu {
        position: absolute;
        width: 10rem;
        height: 5rem;
        background-color: white;
        z-index: 5;
        top: 1rem;
        left: 27rem;
    }

    .hidden {
        display: none;
    }

    .menu::after{
        content: " ";
        position: absolute;
        bottom: 100%;
        top: 0.8rem;
        left: -1rem;
        margin-left: -1rem;
        border-width: 1rem;
        border-style: solid;
        border-color: transparent white transparent transparent;
    }
}
