@import "src/css/colors";
@import "src/css/variables";

.side-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 4.5rem;
    z-index: 10;
    background: white;
    width: 25rem;
    height: calc(100% - 4.5rem);
    // box-shadow: 0px 12px 12px 2px $gray900;
    box-shadow: 0px 8px 12px -8px $gray900;
    animation-duration: 0.3s;
    transition: background 250ms;

    .side-nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $gray100;
        padding: 1rem 1.5rem;
        transition: background 250ms;

        .close-sidebar {
            color: $gray400;

            &:hover {
                cursor: pointer;
            }
        }

        h4 {
            color: $gray500;
        }
    }

    .side-nav-body {
        padding: 1rem;

        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid $gray100;
            padding: .5rem;
            transition: border-color 250ms;

            .side-nav-section-title {
                margin: 0;
                color: $geoboard-dark;
            }

        }

        .side-nav-text {
            padding: .5rem;
            color: $gray500;
            margin-top: 0;
        }

        .board-list {
            list-style: none;
            padding: 0;
            border-radius: $border-radius;

            .board-list-item {
                padding: .5rem 1.5rem;
                background: $gray100;
                transition: background 250ms;

                &:first-child {
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }

                &:last-child {
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $gray300;
                }

                &[data-target]:hover {
                    cursor: pointer;
                    background: $gray300;
                }

                .board-list-item-description {
                    display: block;
                    font-size: .85em;
                    color: $gray500;
                }
            }
        }
    }
}
