@import "src/css/colors";

$left-panel-text-color: white;
$right-panel-bg-color: white;

.auth-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10rem;
    //background-color: #0093E9;
    background-image: linear-gradient(45deg, #4e342e 11.2%, #2e7d32 70%);

    background-image: url("/assets/media/images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;

    .input-prefix {
        color: $blue600 !important;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border: 1px solid $gray300;
    }

    .auth-panel-wrapper {
        margin-top: 12vh;

        .alert {
            box-shadow: 0px 0px 16px -10px $gray800;
        }
    }

    .auth-panel {
        width: 65rem;
        // height: 40rem;
        display: grid;
        grid-template-columns: minmax(150px, 35%) 1fr;
        box-shadow: 0px 0px 16px -10px $gray800;
        border-radius: 0.5rem;
        overflow: hidden;

        .panel-left {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $gray100;
            background-image: linear-gradient(
                45deg,
                #388e3c 11.2%,
                #4e342e 70%
            );
            text-shadow: 0px 0px 16px rgba(117, 117, 117, 0.4);

            .logo-container {
                width: 100%;
                text-align: center;

                svg {
                    width: 60%;
                    filter: drop-shadow(0px 0px 15px rgba(117, 117, 117, 0.3));
                }

                h1 {
                    color: $left-panel-text-color;
                    font-size: 3rem;
                    margin: 0;
                    font-family: "Alata";
                }
            }

            .about {
                font-size: 1.12rem;
                color: $left-panel-text-color;
            }

            .left-panel-footer {
                display: flex;
                flex-direction: column;
                color: $left-panel-text-color;
            }
        }

        .panel-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            background-color: $right-panel-bg-color;

            h1 {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 2rem;
                color: $gray800;
            }

            form {
                width: 60%;

                .form-group {
                    margin-bottom: 1rem;

                    .input-group {
                        margin-top: 0.5rem;
                    }

                    label {
                        font-weight: 600;
                    }
                }

                .submit-button-container {
                    display: flex;
                    flex-direction: column;

                    .submit-button {
                        width: 100%;
                        height: 3rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                        border-radius: 1.5rem;
                        box-shadow: 0px 0px 16px -10px $gray800;
                        margin-top: 0.5rem;
                        margin-left: auto;
                    }
                }
            }
        }

        .sidebar-button {
            background-size: 200% auto;
            font-size: 1.1rem;
            font-weight: 600;
            border-radius: 1.5rem;
            box-shadow: 0px 0px 16px -10px $gray800;
            transition: 0.5s;
            padding: 0.6rem 2rem;
        }
    }

    .footer {
        color: white;
        margin-top: 1rem;
        width: 65rem;
        text-align: center;

        code {
            text-shadow: 0px 0px 2px rgba(117, 117, 117, 0.8);
        }
    }
}
