@import "src/css/colors";

.auth-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    //background-color: #0093E9;
    background-image: linear-gradient(45deg, #685cff 11.2%, #00bee9  70%);

    background-image: url("/assets/media/images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;

    .input-prefix {
        color: $blue600 !important;
    }

    input[type=text], input[type=password], input[type=email] {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border: 1px solid $gray300;
    }
}
