<div class="alert alert-hidden{{#if animation}} animated {{animation}}{{/if}}" {{#ifEquals display "false"}}style="display: none;"{{/ifEquals}}>
    <div class="alert-title">
        <i class="fa fa-exclamation-circle fa-lg"></i>
    </div>
    <div class="alert-body"></div>
</div>
