<div class="emailConfirmation-container">

    <div class="panel animated fadeInDown">
        <div class="panel-header">Email has been sent!</div>

        <div class="panel-body pb-0">
            <img src="/dist/assets/media/email.svg" alt="">
        </div>

        <div class="panel-footer">

            <p class="mt-0">No email?</p>

            <button class="button button-blue">Send email again</button>
        </div>


    </div>

</div>
